In [2]:
!pip install pandas
!pip install numpy
!pip install seaborn

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: pandas in /Users/yangyue/miniforge3/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: numpy in /Users/yangyue/miniforge3/lib/python3.10/site-packages (1.26.4)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: seaborn in /Users/yangyue/miniforge3/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/yangyue/miniforge3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [3]:
bills_df = pd.read_csv('bills.csv')

In [4]:
bills_df.tail()

,bill_paid_at_local,bill_total_billed,bill_total_discount_item_level,bill_total_gratuity,bill_total_net,bill_total_tax,bill_total_voided,bill_uuid,business_date,order_duration_seconds,order_seated_at_local,order_closed_at_local,order_take_out_type_label,order_uuid,payment_amount,payment_count,payment_total_tip,sales_revenue_with_tax,venue_xref_id,waiter_uuid
8954781,2024-12-29 20:32:54,82.42,0.00,0.0,82.42,0.0,0.0,241229203254~464AA06D-F986-4C51-8A53-A7B8362072D6,2024-12-29,4382,2024-12-29 19:19:52,2024-12-29 20:32:54,dinein,241229191952~96F91DE2-5ECC-4AC9-9228-B0741F3494B1,82.42,1,0.0,82.42,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,220831171122~1455DBA8-211C-4281-BF27-8698365CA3EB
8954782,2024-12-30 20:36:19,87.92,0.00,0.0,87.92,0.0,0.0,241230203619~37348A86-98D1-4113-8EDD-06A3CF61A85B,2024-12-30,5244,2024-12-30 19:08:55,2024-12-30 20:36:19,dinein,241230190855~BB4604F2-B7BA-487A-99AF-7AEB77CA3EEC,87.92,1,0.0,87.92,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,230522185246~9369CFD3-1EED-48B1-A116-F8A4F6B66FC6
8954783,2024-12-31 14:24:23,51.96,0.00,0.0,51.96,0.0,0.0,241231142423~9D2E9295-9E59-4E76-8242-D230C9FD2494,2024-12-31,963,2024-12-31 14:08:20,2024-12-31 14:24:23,takeout,241231140820~4D531668-3D68-4789-A1DB-BE324D4583D5,51.96,1,0.0,51.96,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,161216233231~64B016BA-D9BA-49C7-8726-4BCB6516A11D
8954784,2024-12-31 17:00:34,49.35,11.59,0.0,49.35,0.0,0.0,241231170034~A9B4401D-26DC-4FC5-A4F9-0261D950DB3B,2024-12-31,59,2024-12-31 16:59:35,2024-12-31 17:00:34,takeout,241231165935~27989697-086C-4F7C-8AB2-8C0A8B2CF3A7,49.35,1,0.0,49.35,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,230522185246~9369CFD3-1EED-48B1-A116-F8A4F6B66FC6
8954785,2024-12-31 18:55:07,88.42,0.00,0.0,88.42,0.0,0.0,241231185507~62C6632E-2957-4F0D-8AFF-CF89CA378FB4,2024-12-31,6556,2024-12-31 17:05:51,2024-12-31 18:55:07,dinein,241231170551~4DEE5611-B193-40FB-858B-0650CE2F7259,88.42,1,0.0,88.42,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,230522185246~9369CFD3-1EED-48B1-A116-F8A4F6B66FC6

In [5]:
bills_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8954786 entries, 0 to 8954785
Data columns (total 20 columns):
 #   Column                          Dtype
---  ------                          -----
 0   bill_paid_at_local              object
 1   bill_total_billed               float64
 2   bill_total_discount_item_level  float64
 3   bill_total_gratuity             float64
 4   bill_total_net                  float64
 5   bill_total_tax                  float64
 6   bill_total_voided               float64
 7   bill_uuid                       object
 8   business_date                   object
 9   order_duration_seconds          int64
 10  order_seated_at_local           object
 11  order_closed_at_local           object
 12  order_take_out_type_label       object
 13  order_uuid                      object
 14  payment_amount                  float64
 15  payment_count                   int64
 16  payment_total_tip               float64
 17  sales_revenue_with_tax          float64
 18  venue_xref_id                   object
 19  waiter_uuid                     object
dtypes: float64(9), int64(2), object(9)
memory usage: 1.3+ GB

In [6]:
bills_df.describe()

,bill_total_billed,bill_total_discount_item_level,bill_total_gratuity,bill_total_net,bill_total_tax,bill_total_voided,order_duration_seconds,payment_amount,payment_count,payment_total_tip,sales_revenue_with_tax
count,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06
mean,3.674831e+01,8.403802e-01,2.408956e-01,3.389894e+01,2.849375e+00,9.375093e-01,8.790968e+03,4.063878e+01,9.844425e-01,3.654212e+00,3.674902e+01
std,8.337650e+01,9.404221e+00,8.409234e+00,7.754356e+01,7.153385e+00,3.365966e+02,3.984398e+05,1.987292e+02,1.926432e-01,1.753186e+02,8.337668e+01
min,-5.731500e+03,-9.164000e+01,-6.000000e+01,-5.072120e+03,-6.593800e+02,-4.501500e+03,-4.400000e+01,-5.731500e+03,0.000000e+00,-2.531400e+02,-5.731500e+03
25%,1.044000e+01,0.000000e+00,0.000000e+00,9.630000e+00,4.600000e-01,0.000000e+00,1.100000e+02,1.097000e+01,1.000000e+00,0.000000e+00,1.044000e+01
50%,2.189000e+01,0.000000e+00,0.000000e+00,2.000000e+01,1.440000e+00,0.000000e+00,1.159000e+03,2.347000e+01,1.000000e+00,0.000000e+00,2.189000e+01
75%,4.465000e+01,0.000000e+00,0.000000e+00,4.100000e+01,3.450000e+00,0.000000e+00,3.377000e+03,4.887000e+01,1.000000e+00,4.070000e+00,4.465000e+01
max,7.492861e+04,5.490920e+03,1.193553e+04,6.630850e+04,8.620110e+03,1.000000e+06,2.894124e+08,5.227523e+05,4.100000e+01,5.227156e+05,7.492861e+04