In [1]:
!pip install pandas
!pip install numpy
!pip install seaborn

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_10_9_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 1.3 MB/s eta 0:00:00a 0:00:01
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Downloading pandas-2.2.3-cp39-cp39-macosx_10_9_x86_64.whl (12.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.6/12.6 MB 9.6 MB/s eta 0:00:00:00:0100:01
Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_x86_64.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 11.3 MB/s eta 0:00:0000:0100:01
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 507.9/507.9 kB 9.4 MB/s eta 0:00:00:00:01
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.8/346.8 kB 6.4 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/nova/Library/Python/3.9/lib/python/site-packages (2.0.2)

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.9.4-cp39-cp39-macosx_10_12_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.56.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.9/101.9 kB 3.4 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.7-cp39-cp39-macosx_10_9_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.1.0-cp39-cp39-macosx_10_10_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Collecting importlib-resources>=3.2.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: pytz>=2020.1 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/nova/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.21.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.9.4-cp39-cp39-macosx_10_12_x86_64.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 11.5 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (265 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 265.5/265.5 kB 6.8 MB/s eta 0:00:00ta 0:00:01
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp39-cp39-macosx_10_9_x86_64.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 8.7 MB/s eta 0:00:00a 0:00:01m
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Downloading kiwisolver-1.4.7-cp39-cp39-macosx_10_9_x86_64.whl (65 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.8/65.8 kB 1.9 MB/s eta 0:00:00
Downloading pillow-11.1.0-cp39-cp39-macosx_10_10_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 9.5 MB/s eta 0:00:00:00:0100:01
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.7/107.7 kB 3.4 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.56.0 importlib-resources-6.5.2 kiwisolver-1.4.7 matplotlib-3.9.4 pillow-11.1.0 pyparsing-3.2.1 seaborn-0.13.2

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [3]:
bills_df = pd.read_csv('bills.csv')

In [4]:
bills_df.tail()

,bill_paid_at_local,bill_total_billed,bill_total_discount_item_level,bill_total_gratuity,bill_total_net,bill_total_tax,bill_total_voided,bill_uuid,business_date,order_duration_seconds,order_seated_at_local,order_closed_at_local,order_take_out_type_label,order_uuid,payment_amount,payment_count,payment_total_tip,sales_revenue_with_tax,venue_xref_id,waiter_uuid
8954781,2024-12-29 20:32:54,82.42,0.00,0.0,82.42,0.0,0.0,241229203254~464AA06D-F986-4C51-8A53-A7B8362072D6,2024-12-29,4382,2024-12-29 19:19:52,2024-12-29 20:32:54,dinein,241229191952~96F91DE2-5ECC-4AC9-9228-B0741F3494B1,82.42,1,0.0,82.42,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,220831171122~1455DBA8-211C-4281-BF27-8698365CA3EB
8954782,2024-12-30 20:36:19,87.92,0.00,0.0,87.92,0.0,0.0,241230203619~37348A86-98D1-4113-8EDD-06A3CF61A85B,2024-12-30,5244,2024-12-30 19:08:55,2024-12-30 20:36:19,dinein,241230190855~BB4604F2-B7BA-487A-99AF-7AEB77CA3EEC,87.92,1,0.0,87.92,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,230522185246~9369CFD3-1EED-48B1-A116-F8A4F6B66FC6
8954783,2024-12-31 14:24:23,51.96,0.00,0.0,51.96,0.0,0.0,241231142423~9D2E9295-9E59-4E76-8242-D230C9FD2494,2024-12-31,963,2024-12-31 14:08:20,2024-12-31 14:24:23,takeout,241231140820~4D531668-3D68-4789-A1DB-BE324D4583D5,51.96,1,0.0,51.96,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,161216233231~64B016BA-D9BA-49C7-8726-4BCB6516A11D
8954784,2024-12-31 17:00:34,49.35,11.59,0.0,49.35,0.0,0.0,241231170034~A9B4401D-26DC-4FC5-A4F9-0261D950DB3B,2024-12-31,59,2024-12-31 16:59:35,2024-12-31 17:00:34,takeout,241231165935~27989697-086C-4F7C-8AB2-8C0A8B2CF3A7,49.35,1,0.0,49.35,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,230522185246~9369CFD3-1EED-48B1-A116-F8A4F6B66FC6
8954785,2024-12-31 18:55:07,88.42,0.00,0.0,88.42,0.0,0.0,241231185507~62C6632E-2957-4F0D-8AFF-CF89CA378FB4,2024-12-31,6556,2024-12-31 17:05:51,2024-12-31 18:55:07,dinein,241231170551~4DEE5611-B193-40FB-858B-0650CE2F7259,88.42,1,0.0,88.42,45f1736264898588301e2983fd2de6969a9af33aa0f6f8...,230522185246~9369CFD3-1EED-48B1-A116-F8A4F6B66FC6

In [5]:
bills_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8954786 entries, 0 to 8954785
Data columns (total 20 columns):
 #   Column                          Dtype
---  ------                          -----
 0   bill_paid_at_local              object
 1   bill_total_billed               float64
 2   bill_total_discount_item_level  float64
 3   bill_total_gratuity             float64
 4   bill_total_net                  float64
 5   bill_total_tax                  float64
 6   bill_total_voided               float64
 7   bill_uuid                       object
 8   business_date                   object
 9   order_duration_seconds          int64
 10  order_seated_at_local           object
 11  order_closed_at_local           object
 12  order_take_out_type_label       object
 13  order_uuid                      object
 14  payment_amount                  float64
 15  payment_count                   int64
 16  payment_total_tip               float64
 17  sales_revenue_with_tax          float64
 18  venue_xref_id                   object
 19  waiter_uuid                     object
dtypes: float64(9), int64(2), object(9)
memory usage: 1.3+ GB

In [5]:
bills_df.describe()

,bill_total_billed,bill_total_discount_item_level,bill_total_gratuity,bill_total_net,bill_total_tax,bill_total_voided,order_duration_seconds,payment_amount,payment_count,payment_total_tip,sales_revenue_with_tax
count,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06,8.954786e+06
mean,3.674831e+01,8.403802e-01,2.408956e-01,3.389894e+01,2.849375e+00,9.375093e-01,8.790968e+03,4.063878e+01,9.844425e-01,3.654212e+00,3.674902e+01
std,8.337650e+01,9.404221e+00,8.409234e+00,7.754356e+01,7.153385e+00,3.365966e+02,3.984398e+05,1.987292e+02,1.926432e-01,1.753186e+02,8.337668e+01
min,-5.731500e+03,-9.164000e+01,-6.000000e+01,-5.072120e+03,-6.593800e+02,-4.501500e+03,-4.400000e+01,-5.731500e+03,0.000000e+00,-2.531400e+02,-5.731500e+03
25%,1.044000e+01,0.000000e+00,0.000000e+00,9.630000e+00,4.600000e-01,0.000000e+00,1.100000e+02,1.097000e+01,1.000000e+00,0.000000e+00,1.044000e+01
50%,2.189000e+01,0.000000e+00,0.000000e+00,2.000000e+01,1.440000e+00,0.000000e+00,1.159000e+03,2.347000e+01,1.000000e+00,0.000000e+00,2.189000e+01
75%,4.465000e+01,0.000000e+00,0.000000e+00,4.100000e+01,3.450000e+00,0.000000e+00,3.377000e+03,4.887000e+01,1.000000e+00,4.070000e+00,4.465000e+01
max,7.492861e+04,5.490920e+03,1.193553e+04,6.630850e+04,8.620110e+03,1.000000e+06,2.894124e+08,5.227523e+05,4.100000e+01,5.227156e+05,7.492861e+04

In [7]:
# prints the sum of missing data entries (na values)
na_counts = bills_df.isna().sum()
print(na_counts)

bill_paid_at_local                 0
bill_total_billed                  0
bill_total_discount_item_level     0
bill_total_gratuity                0
bill_total_net                     0
bill_total_tax                     0
bill_total_voided                  0
bill_uuid                          0
business_date                      0
order_duration_seconds             0
order_seated_at_local              0
order_closed_at_local              0
order_take_out_type_label          0
order_uuid                         0
payment_amount                     0
payment_count                      0
payment_total_tip                  0
sales_revenue_with_tax             0
venue_xref_id                      0
waiter_uuid                       94
dtype: int64