In [33]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [34]:
# read the csv file and store it in a pandas dataframe
Q1_file_path = '/Users/nova/Desktop/hackathon csv files/Q_1.csv'
df = pd.read_csv(Q1_file_path)

In [35]:
# have a brief overview of the csv file
df.head()

,order_seated_at_local,order_closed_at_local,order_duration_seconds,bill_uuid,venue_xref_id
0,2024-07-01 09:16:15,2024-07-01 09:17:01,46,240701091701~4D63608F-523C-4EFF-9A4F-78D6C44B5159,39e5b4830d4d9c14db7368a95b65d5463ea3d095203737...
1,2024-07-01 13:32:12,2024-07-01 13:37:00,288,240701133659~3A0BEDE2-E9E5-484D-B909-780E485F0D69,39e5b4830d4d9c14db7368a95b65d5463ea3d095203737...
2,2024-07-01 11:17:17,2024-07-01 11:19:32,135,240701111931~670EEB85-E939-4924-B92F-C95076B7E930,39e5b4830d4d9c14db7368a95b65d5463ea3d095203737...
3,2024-07-01 15:05:11,2024-07-01 15:05:59,48,240701150558~3D6F473E-D5EF-4BB8-AFAB-30DB2A0764C0,39e5b4830d4d9c14db7368a95b65d5463ea3d095203737...
4,2024-07-01 12:39:17,2024-07-01 12:41:00,103,240701124059~0521794C-51FC-4C30-A368-995CE4DE105F,39e5b4830d4d9c14db7368a95b65d5463ea3d095203737...

In [36]:
# Display the data type of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8954786 entries, 0 to 8954785
Data columns (total 5 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_seated_at_local   object
 1   order_closed_at_local   object
 2   order_duration_seconds  int64
 3   bill_uuid               object
 4   venue_xref_id           object
dtypes: int64(1), object(4)
memory usage: 341.6+ MB

In [28]:
# Display the statistics summary of the dataframe
df.describe()

       order_duration_seconds
count            8.954786e+06
mean             8.790968e+03
std              3.984398e+05
min             -4.400000e+01
25%              1.100000e+02
50%              1.159000e+03
75%              3.377000e+03
max              2.894124e+08

In [38]:
# convert order_seated_at_local	column by the datetime module
df['order_seated_at_local'] = pd.to_datetime(df['order_seated_at_local'])

df['seated_year'] = df['order_seated_at_local'].dt.year
df['seated_month'] = df['order_seated_at_local'].dt.month
df['seated_day'] = df['order_seated_at_local'].dt.day
df['seated_hour'] = df['order_seated_at_local'].dt.hour
df['seated_minute'] = df['order_seated_at_local'].dt.minute
df['seated_second'] = df['order_seated_at_local'].dt.second